<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<!-- Enable annotation-based configuration -->
    <context:annotation-config/>

<!-- Define other beans and configuration here -->

<bean id="department" class="com.springcore.autowiring.Department" name="department">
<property name="deptName" value="Information Technology" />
</bean>
<bean id="emp" name="emp1" class="com.springcore.autowiring.Employee"> 
<property name="eid" value="23" />
<property name="ename" value="Shivam" />
</bean>
</beans>


